<div class="header-content" <!--style="padding-top:20px"-->>
    <div class="row">
        <div class="col-md-6">
            <h1>We are here to make you feel awesome, come in...</h1>
            <p class="text-dark">We have created a remarkable atmosphere, defying the traditional mainstream settings and services, come in, let us serve you better!</p>
            <button class="btn btn-primary mb-4">Get Started</button>
            <div class="my-2">
                <p class="h5">GET OUR MOBILE APP</p>
            </div>
            <div>
                <button class="btn btn-app-download mr-2"><img src="assets/images/ios.svg" alt="App store"></button>
                <button class="btn btn-app-download"><img src="assets/images/android.svg" alt="play store"></button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/app_1.png" alt="app" width="388px" class="img-fluid">
        </div>
    </div>
</div>