<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <section class="page-header" style="padding-top:2px">
                    <h2>Recent jobs</h2>
                    <h5>Find a team and begin your own story here</h5>
                </section>
                <section class="career-section">
                    <div class="card career-card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush careers-list-group">
                                <li class="list-group-item">
                                    <div>
                                        <h5 class="position-title">Andriod Developer</h5>
                                        <p class="position-location">London, United Kingdom</p>
                                    </div>
                                    <button class="btn btn-primary apply-btn">Apply Now</button>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h5 class="position-title">UI Designer (Freelance/Remote)</h5>
                                        <p class="position-location">United Arab Emirates</p>
                                    </div>
                                    <button class="btn btn-primary apply-btn">Apply Now</button>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h5 class="position-title">Senior Back End Developer</h5>
                                        <p class="position-location">San Francisco, US</p>
                                    </div>
                                    <button class="btn btn-primary apply-btn">Apply Now</button>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h5 class="position-title">Web & Graphic Designer</h5>
                                        <p class="position-location">London, United Kingdom</p>
                                    </div>
                                    <button class="btn btn-primary apply-btn">Apply Now</button>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h5 class="position-title">Product Marketing Manager</h5>
                                        <p class="position-location">Menlo Park, CA</p>
                                    </div>
                                    <button class="btn btn-primary apply-btn">Apply Now</button>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <h5 class="position-title">Laravel developer</h5>
                                        <p class="position-location">London, United Kingdom</p>
                                    </div>
                                    <button class="btn btn-primary apply-btn">Apply Now</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>