<section class="foi-page-section">
    <div class="row mb-5">
        <div class="col-md-4 foi-feature">
            <img src="assets/images/icon_1.png" alt="icon" class="feature-icon">
            <h5 class="feature-title">Online Payment</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <img src="assets/images/icon_2.png" alt="icon" class="feature-icon">
            <h5 class="feature-title">Online Payment</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <img src="assets/images/icon_3.png" alt="icon" class="feature-icon">
            <h5 class="feature-title">Online Payment</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-4 foi-feature">
            <h5 class="feature-title">Secure Data</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <h5 class="feature-title">Live Chat</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <h5 class="feature-title">Equilizer Support</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <h5 class="feature-title">Fully functional</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <h5 class="feature-title">Powerful dashboard</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
        <div class="col-md-4 foi-feature">
            <h5 class="feature-title">Unlimited Features</h5>
            <p class="feature-content">Lorem ipsum dolor sit amt, consectet adop adipisicing elit, sed do eiusmod teporara incididunt ugt labore.</p>
            <a href="#!" class="feature-link">Find out More</a>
        </div>
    </div>
</section>