<section class="py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <img src="assets/images/app_2.png" alt="special offers" class="img-fluid" width="492px">
            </div>
            <div class="col-md-6">
                <h2 class="section-title">Get special offers on the things you love</h2>
                <p class="mb-5">He has led a remarkable campaign, defying the traditional mainstream parties courtesy of his En Marche! movement. For many, however, the campaign has become less about backing Macron and instead about voting against Le Pen, the National Front candidate.</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Essentials</h5>
                                <p>All the basics for businesses that are just getting started.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Premium</h5>
                                <p>All the basics for businesses that are just getting started.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="media landing-feature">
                            <span class="landing-feature-icon"></span>
                            <div class="media-body">
                                <h5>Standard</h5>
                                <p>All the basics for businesses that are just getting started.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>