<section class="py-5 mb-5">
    <div class="container">
        <h2>Satisfied Users</h2>
        <p class="text-muted mb-5">Thank you for your very professional and prompt response. I wished I had found you before </p>
        <div class="row">
            <div class="col-md-4 foi-review mb-5 mb-md-0">
                <div class="foi-rating">
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                </div>
                <h5 class="foi-review-heading">Great support available</h5>
                <p class="foi-review-content">Thank you for your very professional and prompt response. I wished I had found you before I spent money on a competitors theme.</p>
                <div class="media foi-review-user">
                    <img src="assets/images/avatar/avatar_11.jpg" alt="user" class="avatar">
                    <div class="media-body">
                        <h6 class="mb-0">Amarachi Nkechi</h6>
                        <p>UX Designer</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 foi-review mb-5 mb-md-0">
                <div class="foi-rating">
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                </div>
                <h5 class="foi-review-heading">Great support available</h5>
                <p class="foi-review-content">Thank you for your very professional and prompt response. I wished I had found you before I spent money on a competitors theme.</p>
                <div class="media foi-review-user">
                    <img src="assets/images/avatar/avatar_12.jpg" alt="user" class="avatar">
                    <div class="media-body">
                        <h6 class="mb-0">Margje Jutten</h6>
                        <p>Developer</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 foi-review mb-5 mb-md-0">
                <div class="foi-rating">
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                </div>
                <h5 class="foi-review-heading">Great support available</h5>
                <p class="foi-review-content">Thank you for your very professional and prompt response. I wished I had found you before I spent money on a competitors theme.</p>
                <div class="media foi-review-user">
                    <img src="assets/images/avatar/avatar_13.jpg" alt="user" class="avatar">
                    <div class="media-body">
                        <h6 class="mb-0">Monica Böttger</h6>
                        <p>UX Designer</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>