<section class="foi-page-section mb-5">
    <h5 class="text-center font-os mb-0">The amazing team</h5>
    <h2 class="team-section-title">Our Creative Minds</h2>
    <div class="row">
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_1.png" alt="Cardarion Hart" class="team-member-avatar">
                <h6 class="mb-0">Cardarion Hart</h6>
                <p class="team-member-designation">CEO</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_2.png" alt="Gauthier Drewitt" class="team-member-avatar">
                <h6 class="mb-0">Gauthier Drewitt</h6>
                <p class="team-member-designation">HR Manager</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_3.png" alt="Labeeba Al Amer" class="team-member-avatar">
                <h6 class="mb-0">Labeeba Al Amer</h6>
                <p class="team-member-designation">Finance Manager</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_4.png" alt="Onyama Limba" class="team-member-avatar">
                <h6 class="mb-0">Onyama Limba</h6>
                <p class="team-member-designation">Software Engineer</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_5.png" alt="Athar Malakooti" class="team-member-avatar">
                <h6 class="mb-0">Athar Malakooti</h6>
                <p class="team-member-designation">CEO</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_6.png" alt="Kung Jiyeon" class="team-member-avatar">
                <h6 class="mb-0">Kung Jiyeon</h6>
                <p class="team-member-designation">HR Manager</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_7.png" alt="Mathijn Agter" class="team-member-avatar">
                <h6 class="mb-0">Mathijn Agter</h6>
                <p class="team-member-designation">Finance Manager</p>
            </div>
        </div>
        <div class="col-md-3 mb-5">
            <div class="team-member-card">
                <img src="assets/images/user/user_8.png" alt="Jontray Arnold" class="team-member-avatar">
                <h6 class="mb-0">Jontray Arnold</h6>
                <p class="team-member-designation">Software Engineer</p>
            </div>
        </div>
    </div>
</section>