<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Mails\" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
    <trace enabled="true" requestLimit="20" localOnly="true" />    
  </system.web>
  
  <appSettings>
    <add key="apppassword" value="ijfejjfddvkmmysu" />
    <add key="qr-scan-base-url" value="https://www.eventiix.com/clients/auth/codelink.aspx" />
    <add key="default-url" value="http://eventiix.com/" />
  </appSettings>
  <!--<system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="~/index.html" />
      </files>
    </defaultDocument>
  </system.webServer>-->
  <connectionStrings>
    
    <!--<add name="LocalConnEventhingsDbContext" connectionString="Data Source=localhost;Initial Catalog=deveventhings;Integrated Security=False;User ID=sa;Password=Schizophrenic@0911;Connect Timeout=15;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient"/>-->

    <add name="LocalConnEventhingsDbContext" connectionString="Data Source=wdb4.my-hosting-panel.com;Initial Catalog=eventiix_prod_eventiix;Integrated Security=False;User ID=eventiix_sa;Password=Jekidero*1234;Connect Timeout=15;Encrypt=False;Packet Size=4096"  providerName="System.Data.SqlClient"/>
	  
	  <add name="MochaConnEventhingsDbContext" connectionString="Data Source=wdb4.my-hosting-panel.com;Initial Catalog=eventiix_prod_eventiix;Integrated Security=False;User ID=eventiix_sa;Password=Jekidero*1234;Connect Timeout=15;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient" />
  <add name="EventhingsDbContexts" connectionString="data source=localhost;initial catalog=deveventhings;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>