<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="index.html"/>
			</files>
		</defaultDocument>
	</system.webServer>

<connectionStrings>
	<add name="EventhingsDbContext" connectionString="data source=imt;initial catalog=deveventhings;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	<add name="ProdEventhingsDbContext" connectionString="workstation id=deveventhings.mssql.somee.com;packet size=4096;user id=afaruk_SQLLogin_1;pwd=k4pu2za6ib;data source=deveventhings.mssql.somee.com;persist security info=False;initial catalog=deveventhings;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
