<div class="mobile__back js-nav-list-back pointer-events-none">
    <a data-barba href="#">Home</a>
</div>

<ul class="nav js-navList">


    <li class="">
        <a data-barba href="../../clients/new/customer-dashbaord.html">Dashboard</a>
    </li>

    <li class="">
        <a data-barba href="#">e-wallet</a>
    </li>

    <li class="">
        <a data-barba href="../../../clients/new/transactions.html">Transactions</a>
    </li>

    <!--<li class="">
        <a data-barba href="contact-1.html">Settings</a>
    </li>-->

    <!--<li class="">
        <a data-barba href="contact-1.html">Contact</a>
    </li>-->
</ul>