<div class="footer__top">
    <div class="container">
        <div class="row y-gap-48 justify-content-between">

            <div class="col-lg-4 col-sm-6">
                <div class="footer__item">
                    <div class="footer__logo  text-white">
                        <img src="img/general/logo-flat.svg" alt="logo">
                    </div>

                    <div class="y-gap-32 pt-30">
                        <div class="">
                            <div class="text-lg text-white opac-50">Toll Free Customer Care</div>
                            <div class="text-xl fw-600 text-white">+234 803 880 4264</div>
                        </div>

                        <div class="">
                            <div class="text-lg text-white opac-50">Need live support?</div>
                            <div class="text-xl fw-600 text-white">lararawa@yahoo.co.uk</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-2 col-sm-6">
                <div class="footer__item">
                    <h3 class="text-xl lh-1 fw-600 text-white">Links</h3>

                    <div class="footer__content y-gap-10 mt-40">

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="index.html">Home</a>
                        </div>

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="about-1.html">About</a>
                        </div>

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="faq.html">Events</a>
                        </div>

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="contact-1.html">Contact</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <div class="footer__item">
                    <h3 class="footer__title text-xl lh-1 fw-600 text-white">Legal</h3>

                    <div class="footer__content y-gap-10 mt-40">

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="terms.html">Terms of use</a>
                        </div>

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="terms.html">Terms &amp; conditions</a>
                        </div>

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="terms.html">Privacy policy</a>
                        </div>

                        <div class="footer__content__item text-white">
                            <a class="decoration-none" data-barba href="terms.html">Cookies policy</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <div class="y-gap-48">
                    <div class="footer__socials">
                        <h3 class="text-xl lh-1 fw-600 text-white">Follow Us</h3>

                        <div class="socials mt-40">
                            <div>
                                <a data-barba href="#" class="text-white">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a data-barba href="#" class="text-white">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a data-barba href="#" class="text-white">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                <a data-barba href="#" class="text-white">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h3 class="footer__title text-xl lh-1 fw-600 text-white">Subscribe</h3>

                        <div class="footer__content mt-24">
                            <div class="footer__newsletter form-newsletter -simple">
                                <form action="https://creativelayers.net/themes/sassio-html/POST">
                                    <div class="form-group">
                                        <input class="rounded-200" placeholder="Your Email" type="email">
                                        <button class="button -accent ml-10" type="submit">
                                            <i class="icon text-white size-20" data-feather="arrow-right"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-center py-30 border-top-light mt-120 md:mt-60">
            <div class="col-auto">
                <div class="footer__bottom_text text-white">© Copyright 2021. www.eventiix.com</div>
            </div>
        </div>
    </div>
</div>