<div class="mobile__back js-nav-list-back pointer-events-none">
    <a data-barba href="#">Home</a>
</div>

<ul class="nav js-navList">


    <li class="">
        <a data-barba href="../../clients/new/dashbaord.html">Dashboard</a>
    </li>

    <li class="">
        <a data-barba href="../../clients/new/qrcode.html">QR Codes</a>
    </li>

    <li class="">
        <a data-barba href="../../../clients/auth/item.aspx">Product</a>
    </li>

    <li class="">
        <a data-barba href="../../../clients/auth/account.aspx">Accounts</a>
    </li>

    <li class="">
        <a data-barba href="../../../clients/auth/sales.aspx">Sales</a>
    </li>

    <li class="">
        <a data-barba href="../../../clients/auth/ewallet.aspx">e-wallet</a>
    </li>

    <li class="">
        <a data-barba href="../../../clients/auth/events.aspx">Events</a>
    </li>

    <!--<li class="">
        <a data-barba href="contact-1.html">Settings</a>
    </li>-->

    <!--<li class="">
        <a data-barba href="contact-1.html">Contact</a>
    </li>-->
</ul>