<div class="mobile__back js-nav-list-back pointer-events-none">
    <a data-barba href="#">Home</a>
</div>

<ul class="nav js-navList">


    <li class="">
        <a data-barba href="../../clients/new/home-9.html">Home</a>
    </li>

    <li class="">
        <a data-barba href="../../clients/new/services.html">Services</a>
    </li>

    <li class="">
        <a data-barba href="../../clients/new/aboutus.html">About Us</a>
    </li>

    <li class="">
        <a data-barba href="#">Events Gallery</a>
    </li>

    <li class="">
        <a data-barba href="../../clients/new/contact.html">Contact Us</a>
    </li>

    <!--<li class="">
        <a data-barba href="contact-1.html">Contact</a>
    </li>-->
</ul>